<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8"/>
<title>Taxes</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="container">
<form th:action="@{/taxes}" method="get" id="form">
<label class="label-control">Nom de l'entreprise</label>
<select name="code" onchange="document.getElementById('form').submit()">
<option th:each="e :${entreprises}" th:text="${e.nom}" th:value="${e.code}"></option>
</select>
<button class="btn  btn-primary" type="submit">Chercher</button>
</form>
</div>
 <table class="table">
<thead >
			<tr>
				<th>ID</th>
				<th>Montant</th>
				<th>Type</th>
				<th>Date de Taxe </th>
				<th>Titre</th>
			</tr>
		</thead>
 <tbody>
 <tr th:each="t : ${listTaxes}">
 <td th:text="${t.id}"></td>
  <td th:text="${t.Montant}"></td>
  <td th:text="${t.class.simpleName}"></td>
   <td th:text="${t.dateTaxe}"></td>  
  <td th:text="${t.titre}"></td>
 
 </tr>
 
 </tbody>
 
 
 </table>

</div>
</body>
</html>